
{%- assign default_paths = site.pages | map: "path" -%}
{%- assign page_paths = site.header_pages | default: default_paths -%}
<nav class="navbar navbar-expand-lg navbar-light">
	<div class="container flex-column flex-lg-row">
		<button
			class="navbar-toggler"
			type="button"
			data-bs-toggle="collapse"
			data-bs-target="#navbarNavDropdown"
			aria-controls="navbarNavDropdown"
			aria-expanded="false"
			aria-label="Toggle navigation"
		>
			<span class="navbar-toggler-icon"></span> <span>Μενού</span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNavDropdown">
			<ul class="navbar-nav me-auto">
				<li class="nav-item">
					<a 
						class="nav-link"
						href="{{ site.baseurl }}"
						title="Αρχική"
					>
						<i class="fas fa-home d-none d-lg-inline-block"></i>
						<span class="d-lg-none">Αρχική</span>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="https://about.prantalos.gr">
						Βιογραφικό
					</a>
				</li>
				{% assign pages = site.pages | where_exp: 'page', 'page.title and page.permalink' %}
				{%- for page in pages -%}
					{%- if page.title -%}
						<li class="nav-item">
							<a 
								class="nav-link"
								href="{{ page.url }}"
							>
								{{ page.title }}
							</a>
						</li>
					{%- endif -%}
				{%- endfor -%}
			</ul>
		</div>
	</div>
</nav>
