<div class="d-flex flex-column flex-md-row justify-content-between">
    <div class="text-center text-md-start">
        <a
            class="btn btn-outline-dark btn-floating m-1"
            href="/feed.xml"
            role="button"
            title="Subscribe via RSS"
        >
            <i class="fas fa-rss"></i>
        </a>
        <a
            class="btn btn-outline-dark btn-floating m-1"
            href="https://twitter.com/pandor1an"
            role="button"
            target="_blank"
        >
            <i class="fab fa-twitter"></i>
        </a>
        <a
            class="btn btn-outline-dark btn-floating m-1"
            href="https://www.linkedin.com/in/johnprantalos/"
            role="button"
            target="_blank"
        >
            <i class="fab fa-linkedin-in"></i>
        </a>
        <a
            class="btn btn-outline-dark btn-floating m-1"
            href="https://github.com/pandor1an"
            role="button"
            target="_blank"
        >
            <i class="fab fa-github"></i>
        </a>
        <a
            class="btn btn-outline-dark btn-floating m-1"
            href="https://www.behance.net/pandor1an"
            role="button"
            target="_blank"
        >
            <i class="fab fa-behance"></i>
        </a>
    </div>
    <div class="d-flex flex-row justify-content-center my-2 my-md-0">
        <div>{%- include ko-fi.html -%}</div>
        <div>{%- include lang_toggle.html -%}</div>
    </div>
</div>