<!DOCTYPE html>
<html lang="el" class="h-100" {% include namespaces.html %}>
{%- include head.html -%}
<body class="h-100 text-dark bg-dark">
	<div class="container-fluid h-100">
		<div class="container-xxl h-100">
			<div class="row">
				<main class="col px-lg-5">
					{%- include header.html -%}
					{{site.baseurl}}
					<div class="bg-white">{{content}}</div>
					{%- include footer.html -%}
				</main>
			</div>
		</div>
	</div>
	{%- if site.social.ko-fi -%}{%- include ko-fi.html -%}{%- endif -%}
	<script src='{{ "/assets/main.js" | relative_url }}'></script>
	<script>
		(function(d){
		var s = d.createElement("script");
		s.setAttribute("data-language", "el");
		s.setAttribute("data-account", "{{site.data.credentials.userway.accessibility}}");
		s.setAttribute("src", "https://cdn.userway.org/widget.js");
		(d.body || d.head).appendChild(s);})(document)
	</script>
</body>
</html>
