---
layout: default
---
<div class="row">
	<div class="col mb-5">
		{%- if site.posts.size > 0 -%}
			{%- for post in paginator.posts -%}
				<div class="mx-0 my-3 {% unless post.featured %}mx-xl-5{% endunless %}">
					<a class="text-decoration-none" href="{{ post.url }}">
						<article class="d-flex bd-highlight flex-column flex-lg-row {% if post.featured %} bg-primary text-light{% else %}rounded border border-2 bg-light text-dark{% endif %}">
							{% if post.thumb %}
								<div class="d-none d-lg-flex {% if post.featured %}col-lg-6{% else %}col-lg-3{% endif %} bg-image-height" style="background-image: url('https://i.imgur.com/{{post.thumb}}l.jpg');"></div>
							{% endif %}
							<div class="col p-3">
								{% if post.thumb %}<img class="d-lg-none rounded w-100 img-fluid" src="https://i.imgur.com/{{post.thumb}}l.jpg" />{% endif %}
								{% if post.featured %}
									<div class="col-12 text-center">
										<h1 class="text-warning fw-bolder bg-dark p-3 rounded-top-3">
											::: ΞΕΧΩΡΙΖΕΙ :::
										</h1>
									</div>
								{% endif %}
								<h6 class="my-2 px-3 {% if post.featured %}text-light{% else %}text-muted{% endif %}">
									<small>
										Δημοσιεύτηκε στις
										{{ post.created | date: "%d/%m/%Y" }}
									</small>
								</h6>
								<h5 class="px-3 {% if post.featured %}display-4{% endif %}">{{ post.title | escape }}</h5>
								{%- if site.show_excerpts -%}
									<div class="px-3 {% if post.featured %}h3{% endif %}">{{ post.excerpt }}</div>
								{%- endif -%} 
							</div>
						</article>
					</a>
				</div
			{%- endfor -%}
			{% if paginator.total_pages > 1 %}
				<nav aria-label="paginator">
					<ul class="pagination justify-content-center">
						{% if paginator.previous_page %}
							<li class="page-item">
								<a class="page-link" href="{{ paginator.previous_page_path | homepage }}">
									<i class="fas fa-caret-left"></i>
								</a>
							</li>
						{% else %}
							<li class="page-item disabled">
								<span class="page-link">
									<i class="fas fa-caret-left"></i>
								</span>
							</li>
						{% endif %}
						{% for pg in (1..paginator.total_pages) %}
							{% if pg == paginator.page %}
								<li class="page-item active" aria-current="page">
									<span class="page-link">{{ pg }}</span>
								</li>
							{% else %}
								<li class="page-item">
									{% if pg == 1 %}
										<a class="page-link" href="{{ site.baseurl }}">
											{{ pg }}
										</a>
									{% else %}
										<a class="page-link" href="{{ site.paginate_path | homepage | replace: ':num', pg }}">
											{{ pg }}
										</a>
									{% endif %}
								</li>
							{% endif %}
						{% endfor %}
						{% if paginator.next_page %}
							<li class="page-item">
								<a class="page-link" href="{{ paginator.next_page_path | homepage }}">
									<i class="fas fa-caret-right"></i>
								</a>
							</li>
						{% else %}
							<li class="page-item disabled">
								<span class="page-link">
									<i class="fas fa-caret-right"></i>
								</span>
							</li>
						{% endif %}
					</ul>
				</nav>
			{% endif %}
		{% else %}
			{%- include no_posts.html -%}
		{%- endif -%}
	</div>
</div>
